#navb {
  background-color: #d5e6ff;
  margin: 0%;
}
#navb1 {
  background-color: #d5e6ff;
}
#fontt {
  color: black;
}
#main3 {
  background-image: url(image/lol.svg);
}
#fonttt {
  color: black;
  font-weight: 400;
}
#footer {
  background-color: #0c1726;
}
#main {
  background-color: #d5e6ff;
}
#main2 {
  background-color: #d5e6ff8e;
}
#pp {
  color: grey;
}
#h3 {
  font-size: 5ch;
  font-weight: 1000;
}
